asgiref==3.5.0
certifi==2021.10.8
cloudinary==1.29.0
Django==3.2.11
django-json-widget==1.1.1
django-widget-tweaks==1.4.12
djangotoolbox==1.8.0
future==0.18.2
Pillow==9.0.1
psycopg==3.0.8
psycopg2-binary==2.9.3
python-decouple==3.6
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.8
