<h1>Lista de Manuais</h1><br>
<td class="text-center">
<a class="btn btn-primary shadow" href="{% url 'manual-novo' %}">Adicionar Manuais</a>
</td><br><br> 
<table class="table table-light table-bordered rounded">
    <thead class="thead-dark">
        <tr class="table-borderless">
            <th scope="col">#</th>  
            <th scope="col">Ns_min</th> 
            <th scope="col">Manual</th> 
            <th scope="col">Alterar</th> 
        </tr>
    </thead>
    {% for form in manuais_list %} 
    <tbody>
        <tr>
            <th scope="row">{{ form.pk }}</td> 
            <th scope="row">{{ form.ns_min }}</td>
            <th scope="row"><a href="{{ form.pdf.url }}" target="_blank">{{ form.pdf.url }}</a></td> 
            <th>
            {% if form.pk %}
                <a class="btn btn-primary shadow" href="{% url 'manual-alterar' form.pk %}"><i class="fas fa-file-invoice fa-1x" style="color:#0013c2;" aria-hidden="true"></i></a>
            {% endif %}
            </th>
        </tr>
    </tbody>
    {% endfor %} 
 